In [ ]:
count = 0
sum = 0

while True:
  number = input('Enter a Number : ')
  if number == 'done':
    break
  try:
    num_float = float(number)
  except:
    print('Invalid Input')
    continue
  count = count + 1
  sum = sum + num_float

print('Sum', sum, '\nCount', count, '\nAverage', sum/count)

Enter a Number : 2
Enter a Number : 3
Enter a Number : 4
Enter a Number : done
Sum 9.0
Count 3
Average 3.0

In [ ]:
a = []

for x in range(1500,2701):
  if x%7 == 0 and x%5 == 0:
    a.append(str(x))

print(a)

['1505', '1540', '1575', '1610', '1645', '1680', '1715', '1750', '1785', '1820', '1855', '1890', '1925', '1960', '1995', '2030', '2065', '2100', '2135', '2170', '2205', '2240', '2275', '2310', '2345', '2380', '2415', '2450', '2485', '2520', '2555', '2590', '2625', '2660', '2695']

In [ ]:
numbers = [10,21,31,42,145,54,6,7,156,2011,64]
count_even = 0
count_odd = 0

for x in range(len(numbers)):
  if x%2 == 0:
    count_even = count_even + 1
  else:
    count_odd = count_odd + 1  

print('Number of Even numbers is : ', count_even)
print('Number of Odd numbers is : ', count_odd)

Number of Even numbers is :  6
Number of Odd numbers is :  5

In [ ]:
a = []

for x in range(7):
  if x == 3 or x == 6:
    continue
  a.append(str(x))

print('The list is : ', a)

The list is :  ['0', '1', '2', '4', '5']

In [ ]:
fib_1 = 1
fib_2 = 1
fib_list = [1,1]

for i in range(48):
  i = i + 1
  fib_2, fib_1 = fib_2 + fib_1 , fib_2
  fib_list.append(fib_2)

print(fib_list)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025]

In [ ]:
start = int(input('Enter the starting number : '))
end = int(input('Enter the ending range : '))
arrange = []

for x in range(start, end+1):
  for y in range(2,x):
    if x % y == 0:
      break
  else:
    arrange.append(str(x))

print('The list of prime number between the range is : ', arrange)

Enter the starting number : 1
Enter the ending range : 30
The list of prime number between the range is :  ['1', '2', '3', '5', '7', '11', '13', '17', '19', '23', '29']

In [ ]:
number = int(input('Please Enter a number : '))
sum =  0

for i in range(number + 1):
  sum = sum + i

print('The summetion from 1 to', number, 'is : ', sum)

Please Enter a number : 30
The summetion from 1 to 30 is :  465